
@font-face {font-family: "Trixie-Text"; src: url("https://db.onlinewebfonts.com/t/11bc98458796ec227ee7ebe4a613e80d.eot"); src: url("https://db.onlinewebfonts.com/t/11bc98458796ec227ee7ebe4a613e80d.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/11bc98458796ec227ee7ebe4a613e80d.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/11bc98458796ec227ee7ebe4a613e80d.woff") format("woff"), url("https://db.onlinewebfonts.com/t/11bc98458796ec227ee7ebe4a613e80d.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/11bc98458796ec227ee7ebe4a613e80d.svg#Trixie-Text") format("svg"); }

body {

  margin: 0;
  font-family: "Trixie-Text", 'Helvetica', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}